language: python
python: "3.6"
install:
  - pip install -rdev-requirements.txt
  - flake8 --version
  - mypy --version
script:
  - flake8 .
  - mypy bscan
  - python setup.py install
  - bscan --version
  - bscan-wordlists --version
  - bscan-shells --version